# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Binary Files
/src/bin/
/src/bin/*

# Node Modules
/node_modules/*
/src/node_modules/*
/client/node_modules/*
/server/node_modules/*

# LSP Files
/client/node_modules/
/server/node_modules/
*/node_modules/

# Build Files
/build/
/build/*

# Visual Studio Code and Visual Studio
/.vs/
/.vs/*
/.vscode/
/.vscode/*
/src/cpp/.vs/
/src/cpp/.vs/*
/src/cpp/.vscode/
/src/cpp/.vscode/*

# CPP Project (LLVM Backend for Cryo Compiler)
/src/cpp/.vs/
/src/cpp/.vs/*
/src/cpp/bin/
/src/cpp/bin/*
/src/cpp/build/
/src/cpp/build/*

# Cryo Build Files
output.ll

# Ignore Specific File Extensions
*.vsidx
*.vsix
*.suo
*.sln
*.swp
*.swo
*.sdf
*.dbmdl
*.dbproj
*.user
*.userosscache
*.sln.docstates
*.cache


# Notes
./notes/
./notes/*
./notes/**